* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.patern1{
    display: grid;
    grid-template-columns: repeat(16, 15px);
    grid-template-rows: 20% 20% 20% 20%;
}

.box-pat1{
    background-color: #FF7100;
}

.box-pat1:nth-child(12n + 2),
.box-pat1:nth-child(12n + 4),
.box-pat1:nth-child(12n + 6),
/* next row  of 6 */
.box-pat1:nth-child(12n + 7),
.box-pat1:nth-child(12n + 9),
.box-pat1:nth-child(12n + 11) {
  background-color: #FFB26D;
}